<!DOCTYPE html>

<div th:replace="includes/header :: header"></div>

<div th:replace="includes/sidebar :: sidebar"></div>


  <div class="page-wrapper">

    <div class="content container-fluid">

      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="page-title">Bienvenue <span th:text="${session.nomUtilisateur}"></span></h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item active">Tableau de bord</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
            <div class="card-body">
              <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
              <div class="dash-widget-info">
                <h3 th:text="${nbreFilieres}"></h3>
                <span>Filières</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
            <div class="card-body">
              <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
              <div class="dash-widget-info">
                <h3 th:text="${nbreAdministrateur}"></h3>
                <span>Administrateurs</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
            <div class="card-body">
              <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
              <div class="dash-widget-info">
                <h3 th:text="${nbreEtudiants}"></h3>
                <span>Etudiants</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
            <div class="card-body">
              <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
              <div class="dash-widget-info">
                <h3 th:text="${nbreEnseignants}"></h3>
                <span>Enseignants</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-4 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <h4 class="card-title">Assiduités d'aujourd'hui <span class="badge bg-inverse-danger ms-2" th:text="${#lists.size(listassiduites)}"></span></h4>
              <div th:each="assiduite : ${listassiduites}" class="leave-info-box">
                <div class="media d-flex align-items-center">
                  <a href="" class="avatar"><img alt src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/img/user.jpg"></a>
                  <div class="media-body flex-grow-1">
                    <div class="text-sm my-0" th:text="${assiduite.utilisateurs.nom}"></div>
                  </div>
                </div>
                <div class="row align-items-center mt-3">
                  <div class="col-6">
                    <h6 class="mb-0" th:text=" ${assiduite.periode}"></h6>
                    <span class="text-sm text-muted" th:text=" ${assiduite.dateJour}" >Leave Date</span>
                  </div>
                  <div class="col-6 text-end">
                    <span th:if="${assiduite.nbreHeure == 0}" class="badge bg-inverse-danger">Absent</span>
                    <span th:if="${assiduite.nbreHeure != 0}" class="badge bg-inverse-success">Présent</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex">
          <div class="card card-table flex-fill">
            <div class="card-header">
              <h3 class="card-title mb-0">Utilisateurs</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table custom-table mb-0">
                  <thead>
                  <tr>
                    <th>Nom & Prénom</th>
                    <th>Email</th>
                    <th>Matricule</th>
                    <th>Filiere</th>
                    <th class="text-end">Role</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="utilisateur : ${listutilisateurs}">
                    <td>
                      <h2 class="table-avatar">
                        <a th:text="${utilisateur.nom + ' ' + utilisateur.prenom}"></a>
                      </h2>
                    </td>
                    <td th:text="${utilisateur.email}"></td>
                    <td th:text="${utilisateur.matricule}"></td>
                    <td th:text="${utilisateur.filieres != null ? utilisateur.filieres.code : 'Aucune'}"></td>
                    <td th:text="${utilisateur.role.nom}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>



<script data-cfasync="false" src="https://smarthr.dreamguystech.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/jquery-3.6.0.min.js"></script>

<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/bootstrap.bundle.min.js"></script>

<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/jquery.slimscroll.min.js"></script>

<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/select2.min.js"></script>

<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/moment.min.js"></script>
<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/bootstrap-datetimepicker.min.js"></script>

<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/jquery-ui.min.js"></script>
<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/fullcalendar.min.js"></script>
<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/jquery.fullcalendar.js"></script>

<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/jquery.dataTables.min.js"></script>
<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/dataTables.bootstrap4.min.js"></script>

<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/validation.init.js"></script>

<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/plugins/morris/morris.min.js"></script>
<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/plugins/raphael/raphael.min.js"></script>
<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/chart.js"></script>

<script src="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets/js/app.js"></script>

</body>

<!-- Mirrored from smarthr.dreamguystech.com/codeigniter/template/orange/public/dashboard by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 May 2023 23:50:57 GMT -->
</html>

