<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h2>Edit User</h2>

<form th:action="@{/users/{id}(id=${user.id})}" method="post">
    <input type="hidden" name="_method" value="put">
    <label>Username: <input type="text" name="username" th:value="${user.username}"></label><br>
    <label>Password: <input type="password" name="password"></label><br>
    <label>Role:
        <select name="roleId">
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="${role.id == user.role.id}"></option>
        </select>
    </label><br>
    <input type="submit" value="Update">
</form>
</body>
</html>
