<sidebar th:fragment="sidebar">
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li class="submenu">
                    <a th:href="@{/}"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="active" th:href="@{/}">Admin Dashboard</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-user"></i> <span> Utilisateurs</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class th:href="@{/administrateurs}">Administrateurs</a></li>
                        <li><a class th:href="@{/etudiants}">Etudiants </a></li>
                        <li><a class th:href="@{/enseignants}">Enseignants </a></li>
                    </ul>
                </li>
                <li class>
                    <a th:href="@{/attendances}"><i class="la la-users"></i> <span>Présences</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
