<sidebar th:fragment="sidebar">
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li class="submenu">
                    <a th:href="@{/}"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="active" href="">Admin Dashboard</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-user"></i> <span> Utilisateurs</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class th:href="@{/administrateurs}">Administrateurs</a></li>
                        <li><a class th:href="@{/etudiants}">Etudiants </a></li>
                        <li><a class th:href="@{/enseignants}">Enseignants </a></li>
                    </ul>
                </li>
                <li class>
                    <a th:href="@{/attendances}"><i class="la la-users"></i> <span>Présences</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/projects">Projects</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/tasks">Tasks</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/task_board">Task Board</a></li>
                    </ul>
                </li>
                <li class>
                    <a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/leads"><i class="la la-user-secret"></i> <span>Leads</span></a>
                </li>
                <li class>
                    <a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/tickets"><i class="la la-ticket"></i> <span>Tickets</span></a>
                </li>
                <li class="menu-title">
                    <span>HR</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-files-o"></i> <span> Sales </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/estimates">Estimates</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/invoices">Invoices</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/payments">Payments</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/expenses">Expenses</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/provident_fund">Provident Fund</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/taxes">Taxes</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-files-o"></i> <span> Accounting </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/categories">Categories</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/budgets">Budgets</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/budget_expenses">Budget Expenses</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/budget_revenues">Budget Revenues</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/salary"> Employee Salary </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/salary_view"> Payslip </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/payroll_item"> Payroll Items </a></li>
                    </ul>
                </li>
                <li class>
                    <a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/policies"><i class="la la-file-pdf-o"></i> <span>Policies</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-pie-chart"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/expense_reports"> Expense Report </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/invoice_reports"> Invoice Report </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/payment_reports"> Payments Report </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/project_reports"> Project Report </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/task_reports"> Task Report </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/user_reports"> User Report </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/employee_reports"> Employee Report </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/payslip_reports"> Payslip Report </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/attendance_reports"> Attendance Report </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/leave_reports"> Leave Report </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/daily_reports"> Daily Report </a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>Performance</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-graduation-cap"></i> <span> Performance </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/performance_indicator"> Performance Indicator </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/performance"> Performance Review </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/performance_appraisal"> Performance Appraisal </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-crosshairs"></i> <span> Goals </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/goal_tracking"> Goal List </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/goal_type"> Goal Type </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-edit"></i> <span> Training </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/training"> Training List </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/trainers"> Trainers</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/training_type"> Training Type </a></li>
                    </ul>
                </li>
                <li class><a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/promotions"><i class="la la-bullhorn"></i> <span>Promotion</span></a></li>
                <li class><a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/resignation"><i class="la la-external-link-square"></i> <span>Resignation</span></a></li>
                <li class><a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/termination"><i class="la la-times-circle"></i> <span>Termination</span></a></li>
                <li class="menu-title">
                    <span>Administration</span>
                </li>
                <li class>
                    <a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/assets_list"><i class="la la-object-ungroup"></i> <span>Assets</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-briefcase"></i> <span> Jobs </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/user_dashboard"> User Dasboard </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/jobs_dashboard"> Jobs Dasboard </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/jobs"> Manage Jobs </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/manage_resumes"> Manage Resumes </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/shortlist_candidates"> Shortlist Candidates </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/interview_questions"> Interview Questions </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/offer_approvals"> Offer Approvals </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/experiance_level"> Experience Level </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/candidates"> Candidates List </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/schedule_timing"> Schedule timing </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/apptitude_result"> Aptitude Results </a></li>
                    </ul>
                </li>
                <li class>
                    <a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/knowledgebase"><i class="la la-question"></i> <span>Knowledgebase</span></a>
                </li>
                <li class>
                    <a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/activities"><i class="la la-bell"></i> <span>Activities</span></a>
                </li>
                <li class>
                    <a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/users"><i class="la la-user-plus"></i> <span>Users</span></a>
                </li>
                <li class>
                    <a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/settings"><i class="la la-cog"></i> <span>Settings</span></a>
                </li>
                <li class="menu-title">
                    <span>Pages</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-user"></i> <span> Profile </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/profile"> Employee Profile </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/clients_profile"> Client Profile </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-key"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/index"> Login </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/auth-register"> Register </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/auth-recoverpw"> Forgot Password </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/otp"> OTP </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/auth-lock-screen"> Lock Screen </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-exclamation-triangle"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/error-404">404 Error </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/error-500">500 Error </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-hand-o-up"></i> <span> Subscriptions </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/subscriptions"> Subscriptions (Admin) </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/subscriptions_company"> Subscriptions (Company) </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/subscribed_companies"> Subscribed Companies</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-columns"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/search"> Search </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/faq"> FAQ </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/terms"> Terms </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/privacy_policy"> Privacy Policy </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/blank_page"> Blank Page </a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>UI Interface</span>
                </li>
                <li class>
                    <a href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/components"><i class="la la-puzzle-piece"></i> <span>Components</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="lab la-dropbox"></i> <span> Elements</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/sweet_alerts">Sweet Alerts</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/lightbox">Lightbox</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/tooltip">Tooltip</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/notifications">Notification</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/toaster">Toaster</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="las la-chart-bar"></i> <span>Charts</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/apex_charts">Apex Charts</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/chart_js">Chart js</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/peity_charts">Peity Charts</a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/c3_charts">C3 Charts</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-object-group"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/form_basic_inputs">Basic Inputs </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/form_input_groups">Input Groups </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/form_horizontal">Horizontal Form </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/form_vertical"> Vertical Form </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/form_mask"> Form Mask </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/form_validation"> Form Validation </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/table_basic">Basic Tables </a></li>
                        <li><a class href="https://smarthr.dreamguystech.com/codeigniter/template/orange/public/data_tables">Data Table </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
